<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find brazo_assembly)/urdf/brazo_assembly.urdf" />
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find brazo_assembly)/urdf.rviz" />
</launch>