<launch>

  <!-- Begin Shooter-->
  <group ns="Shooter_base">
    <param name="tf_prefix" value="robot1_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/shooter.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args= "-urdf -param robot_description -model shooter"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  </group>

  <!-- Begin Torpedoes_1 -->
  <group ns="Torpedoes_1">
    <param name="tf_prefix" value="robot2_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/torpedoes.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model torpedoes_1"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  </group>

  <!-- Begin Torpedoes_2 -->
  <group ns="Torpedoes_2">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/torpedoes_1.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model torpedoes_2"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  </group>

 <!-- Begin RealSense Camera-->
 <group ns="RealSense_Camera">
      <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/realsense_camera.xacro'"/>
      <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
            args="-urdf -param robot_description -model rs200"/>
      <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
 </group> 

</launch>

<!-- MULTIPLE ROBOT SIMULATION ON GAZEBO 
        https://answers.ros.org/question/360480/multi-robot-simulation-on-gazebo/
        https://answers.ros.org/question/41433/multiple-robots-simulation-and-navigation/[link%20text](%3Ca%20href= 
        -->