<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="xcoord" default="80"/>
<arg name="ycoord" default="-10"/>



    <group ns="obsPole">
        <include file="$(find uv_worlds)/launch/test_spawn_obs_pole.launch">
                <arg name="robot_name" value="Obs_pole" />
                <arg name="x" value="$(eval -14 + arg('xcoord'))" />
                <arg name="y" value="$(eval -4.9 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="obsBuoy0">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_0" />
                <arg name="x" value="$(eval -16.1 + arg('xcoord'))" />
                <arg name="y" value="$(eval -7.4 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy1">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa0.launch">
                <arg name="robot_name" value="buoy_A0_1" />
                <arg name="x" value="$(eval -17.7 + arg('xcoord'))" />
                <arg name="y" value="$(eval -3.2 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="obsBuoy2">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_2" />
                <arg name="x" value="$(eval -15.7 + arg('xcoord'))" />
                <arg name="y" value="$(eval -1.3 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy3">
        <include file="$(find uv_worlds)/launch/test_spawn_blacka0.launch">
                <arg name="robot_name" value="buoy_A0_3" />
                <arg name="x" value="$(eval -13.2 + arg('xcoord'))" />
                <arg name="y" value="$(eval -0.4 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy4">
        <include file="$(find uv_worlds)/launch/test_spawn_blacka0.launch">
                <arg name="robot_name" value="buoy_A0_4" />
                <arg name="x" value="$(eval -11.2 + arg('xcoord'))" />
                <arg name="y" value="$(eval -8.1 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy5">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="buoy_A0_5" />
                <arg name="x" value="$(eval -14.25 + arg('xcoord'))" />
                <arg name="y" value="$(eval -1.5 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="obsBuoy6">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_6" />
                <arg name="x" value="$(eval -11.12 + arg('xcoord'))" />
                <arg name="y" value="$(eval -5.44 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy7">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_7" />
                <arg name="x" value="$(eval -12.4 + arg('xcoord'))" />
                <arg name="y" value="$(eval -2.1 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy8">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="buoy_A0_8" />
                <arg name="x" value="$(eval -18+ arg('xcoord'))" />
                <arg name="y" value="$(eval -5.08 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="obsBuoy9">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_9" />
                <arg name="x" value="$(eval -14.41 + arg('xcoord'))" />
                <arg name="y" value="$(eval -7.5 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy10">
        <include file="$(find uv_worlds)/launch/test_spawn_blacka0.launch">
                <arg name="robot_name" value="buoy_A0_10" />
                <arg name="x" value="$(eval -11.4 + arg('xcoord'))" />
                <arg name="y" value="$(eval -3.67 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
     <group ns="obsBuoy11">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="buoy_A0_11" />
                <arg name="x" value="$(eval -10.1 + arg('xcoord'))" />
                <arg name="y" value="$(eval -6.84 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="obsBuoy12">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_12" />
                <arg name="x" value="$(eval -12.01 + arg('xcoord'))" />
                <arg name="y" value="$(eval -8.82 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy13">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_13" />
                <arg name="x" value="$(eval -12.4 + arg('xcoord'))" />
                <arg name="y" value="$(eval -7.08 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy14">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa0.launch">
                <arg name="robot_name" value="buoy_A0_14" />
                <arg name="x" value="$(eval -16.64 + arg('xcoord'))" />
                <arg name="y" value="$(eval -6.00 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy15">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa0.launch">
                <arg name="robot_name" value="buoy_A0_15" />
                <arg name="x" value="$(eval -16.01 + arg('xcoord'))" />
                <arg name="y" value="$(eval -2.95 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
      <group ns="obsBuoy16">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_16" />
                <arg name="x" value="$(eval -15.09 + arg('xcoord'))" />
                <arg name="y" value="$(eval -0.33 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy17">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="buoy_A0_17" />
                <arg name="x" value="$(eval -17.07 + arg('xcoord'))" />
                <arg name="y" value="$(eval -4.46 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
      <group ns="obsBuoy18">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_18" />
                <arg name="x" value="$(eval -11.2 + arg('xcoord'))" />
                <arg name="y" value="$(eval -2.14 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy19">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="buoy_A0_19" />
                <arg name="x" value="$(eval -17.72 + arg('xcoord'))" />
                <arg name="y" value="$(eval -6.87 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>
      <group ns="obsBuoy20">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa0.launch">
                <arg name="robot_name" value="buoy_A0_20" />
                <arg name="x" value="$(eval -14.05 + arg('xcoord'))" />
                <arg name="y" value="$(eval -8.51 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
</launch>

    