<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="x_coord" default="37"/>
<arg name="y_coord" default="5"/>
<arg name="gate_2_gate" default="7"/>
<arg name="gate_width" default="3"/>

    <group ns="gateRed0">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_0" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 0)" />
                <arg name="y" value="$(eval 34.13 + - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen0">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_0" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 0)" />
                <arg name="y" value="$(eval 36.57 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed1">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_1" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 1)" />
                <arg name="y" value="$(eval 33.22 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen1">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_1" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 1)" />
                <arg name="y" value="$(eval 35.66 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed2">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_2" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 2)" />
                <arg name="y" value="$(eval 32.61 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen2">
         <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_2" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 2)" />
                <arg name="y" value="$(eval 35.05 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed3">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_3" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 3)" />
                <arg name="y" value="$(eval 32.91 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen3">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_3" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 3)" />
                <arg name="y" value="$(eval 35.35 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed4">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_4" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 4)" />
                <arg name="y" value="$(eval 33.83 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen4">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_4" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 4)" />
                <arg name="y" value="$(eval 36.27 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed5">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_5" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 5)" />
                <arg name="y" value="$(eval 35.05 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen5">
         <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_5" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 5)" />
                <arg name="y" value="$(eval 37.49 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed6">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_6" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 6)" />
                <arg name="y" value="$(eval 36.27 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen6">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_6" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 6)" />
                <arg name="y" value="$(eval 38.71 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed7">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_7" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 7)" />
                <arg name="y" value="$(eval 35.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen7">
         <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_7" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 7)" />
                <arg name="y" value="$(eval 38.1 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>

    </group>
    <group ns="gateRed8">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_8" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 8)" />
                <arg name="y" value="$(eval 35.35 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen8">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_8" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 8)" />
                <arg name="y" value="$(eval 37.8 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

    <group ns="gateRed9">
        <include file="$(find uv_worlds)/launch/test_spawn_reda0.launch">
                <arg name="robot_name" value="Red_A0_9" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 9)" />
                <arg name="y" value="$(eval 34.13 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
     <group ns="gateGreen9">
        <include file="$(find uv_worlds)/launch/test_spawn_greena0.launch">
                <arg name="robot_name" value="green_A0_9" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 9)" />
                <arg name="y" value="$(eval 36.57 + 0.66 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.0525" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="green" />
        </include>
    </group>

     <group ns="gateYellow0">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa2.launch">
                <arg name="robot_name" value="yellow_A0_0" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 1 + 2)" />
                <arg name="y" value="$(eval 34.13 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.08" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="yellow" />
        </include>
    </group>

     <group ns="gateYellow1">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa2.launch">
                <arg name="robot_name" value="yellow_A0_1" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 3 + 1)" />
                <arg name="y" value="$(eval 34.14 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.08" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="yellow" />
        </include>
    </group>

     <group ns="gateYellow2">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa2.launch">
                <arg name="robot_name" value="yellow_A0_2" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 5 + 2)" />
                <arg name="y" value="$(eval 36.57 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.08" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="yellow" />
        </include>
    </group>

    <group ns="gateYellow3">
        <include file="$(find uv_worlds)/launch/test_spawn_yellowa2.launch">
                <arg name="robot_name" value="yellow_A0_3" />
                <arg name="x" value="$(eval arg('x_coord') + arg('gate_2_gate') * 8 + 1.5)" />
                <arg name="y" value="$(eval 36.57 - 33.528 + arg('y_coord'))" />
                <arg name="z" value="0.08" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="yellow" />
        </include>
    </group>
    
</launch>