<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="xcoord" default="0"/>
<arg name="ycoord" default="0"/>

    <group ns="mandPole1">
        <include file="$(find uv_worlds)/launch/test_spawn_mandpole_green.launch">
                <arg name="robot_name" value="manPole0" />
                <arg name="x" value="$(eval 3.48 + arg('xcoord'))" />
                <arg name="y" value="$(eval 1.70 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>

     <group ns="mandPole2">
        <include file="$(find uv_worlds)/launch/test_spawn_mandpole_red.launch">
                <arg name="robot_name" value="manPole1" />
                <arg name="x" value="$(eval 3.48 + arg('xcoord'))" />
                <arg name="y" value="$(eval -1.70 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>

     <group ns="mandPole3">
        <include file="$(find uv_worlds)/launch/test_spawn_mandpole_green.launch">
                <arg name="robot_name" value="manPole2" />
                <arg name="x" value="$(eval 25.908 + arg('xcoord'))" />
                <arg name="y" value="$(eval 1.70 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>
  

     <group ns="mandPole4">
        <include file="$(find uv_worlds)/launch/test_spawn_mandpole_red.launch">
                <arg name="robot_name" value="manPole3" />
                <arg name="x" value="$(eval 25.908 + arg('xcoord'))" />
                <arg name="y" value="$(eval -1.70 + arg('ycoord'))" />
                <arg name="z" value="0.0" />
                <arg name="roll" value="0" />
                <arg name="pitch" value="0" />
                <arg name="yaw" value="0" />
                <arg name="color" value="red" />
        </include>
    </group>


</launch>

    