<launch>
  <!-- Debug flag -->
  <arg name="debug" default="0"/>

  <!-- Vehicle's initial pose -->
  <arg name="x"     default="0"/>
  <arg name="y"     default="0"/>
  <arg name="z"     default="-2"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="0"/>

  <arg name="use_geodetic" default="false"/>
  <arg name="latitude" default="0"/>
  <arg name="longitude" default="0"/>
  <arg name="depth" default="0"/>

  <arg name="latitude_ref" default="0"/>
  <arg name="longitude_ref" default="0"/>
  <arg name="altitude_ref" default="0"/>

  <!-- Mode to open different robot configurations as set the in file
  nomenclature standard for the files in /robots

  /robots/<mode>.xacro
  -->
  <arg name="mode" default="default"/>

  <!-- Vehicle's namespace -->
  <arg name="namespace" default="vtec_u3"/>

  <arg name="world_frame" default="world"/>


  <group ns="$(arg namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find vtec_u3_description)/robots/$(arg mode).xacro' debug:=$(arg debug) namespace:=$(arg namespace)" />
    
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <group if="$(arg use_geodetic)">
      <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
            args="-urdf -latitude $(arg latitude) -longitude $(arg longitude) -depth $(arg depth) -latitude_ref $(arg latitude_ref) -longitude_ref $(arg longitude_ref) -altitude_ref $(arg altitude_ref) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/robot_description"/>
    </group>

    <group unless="$(arg use_geodetic)">
      <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/robot_description"/>
    </group>

    <!-- A joint state publisher plugin already is started with the model, no need to use the default joint state publisher -->

    <!-- Publish robot model for ROS -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/$(arg namespace)/robot_description" />
    </node>
  </group>
    <!-- Begin Torpedoes_1 -->
  <group ns="Torpedoes_1">
    <param name="tf_prefix" value="robot2_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/torpedoes.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model torpedoes_1"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  </group>

  <!-- Begin Torpedoes_2 -->
  <group ns="Torpedoes_2">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/torpedoes_1.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model torpedoes_2"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  </group>

  <!-- Begin Gate -->
  <group ns="Gate">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find uuv_world)/urdf/gate.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model gate_1"/>
  </group>
  
  <?ignore
  <!-- Begin Buoys -->
  <group ns="Buoys">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find uuv_world)/urdf/buoys.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model buoys_1"/>
  </group>

  <!-- Begin Octagon -->

  <group ns="Octagon">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find uuv_world)/urdf/octagon.xacro' "/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model octagon_1"/>
  </group>
  ?>

  <!-- Publish state and tf for in relation to the world frame -->
  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    	<arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!-- Enable camera gazebo plugin-->
  <include file="$(find realsense_gazebo_plugin)/launch/depth_proc.launch">
  </include>
    <!-- check if you are simulating robot with gazebo -->
    <arg  name="gazebo" default="false" />
    <group unless="$(arg gazebo)">
    </group>

</launch>
 