<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find props_gazebo)/worlds/props.world"/>
    <!-- more default parameters can be changed here -->
  </include>

<!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find props_gazebo)/urdf/gman.xacro" />

<!-- Spawn marker into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model gman_target" />
    
</launch>