<?xml version="1.0"?>
<robot name="vtec_u3" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="vtec_u3"/>
  <xacro:arg name="inertial_reference_frame" default="world_ned"/>
  <!-- Include the UUV macro file -->
  <xacro:include filename="$(find vtec_u3_description)/urdf/base.xacro"/>

  <!-- Create the vtec_u3 -->
  <xacro:vtec_u3_base namespace="$(arg namespace)">
    <gazebo>

    </gazebo>
  </xacro:vtec_u3_base>

  <!-- Joint state publisher plugin -->
  <!-- <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="10"/> -->

</robot>
