<?xml version="1.0"?>
<robot name="vtec_s3" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="vtec_s3"/>
  <xacro:arg name="inertial_reference_frame" default="world_ned"/>
  <!-- Include the USV macro file -->
  <xacro:include filename="$(find vtec_s3_description)/urdf/base.xacro"/>

  <!-- Create the vtec_s3 -->
  <xacro:vtec_s3_base 
    namespace="$(arg namespace)" >
    <!-- inertial_reference_frame="$(arg inertial_reference_frame)" > -->
    <gazebo>
      
    </gazebo>
  </xacro:vtec_s3_base>

  <!-- Joint state publisher plugin -->
  <!-- <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="10"/> -->

</robot>
