<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Loading file with sensor macros -->
  <xacro:include filename="$(find sensor_plugins)/sensor_ros_plugins/urdf/sensor_snippets.xacro"/>

  <!--
    Vehicle's parameters (remember to enter the model parameters below)
  -->

  <xacro:property name="mass" value="18.74"/>

  <!-- The origin of the model is at 0,0,0 in ENU, which is coincident with the COG of the CAD model, but to increase stability, the COG is assumed
       to be in the same position as the geometric center of the UUV, hence the little offset presented when the COG is described below -->

  <!-- Center of gravity -->
  <xacro:property name="cog" value="0 0 0"/> <!-- At the quasi geometric center -> we'll take it as the COG-->
  <xacro:property name="geocenter" value="-0.0069 -0.00909 -0.01005"/>

  <!--
    Visual mesh file for the vehicle, usually in DAE (Collada) format. Be sure to store the
    mesh with the origin of the mesh on the same position of the center of mass, otherwise
    the mesh pose will have to be corrected below in the <visual> block.
    Open the meshes for the RexROV vehicle in Blender to see an example on the mesh placement.
  -->
  <xacro:property name="visual_mesh_file" value="file://$(find vtec_u3_description)/meshes/vtec_u3_spl.dae"/>

  <!-- Collision geometry mesh, usually in STL format (it is recommended to keep
  this geometry as simple as possible to improve the performance the physics engine
  regarding the computation of collision forces) -->
  <xacro:property name="collision_mesh_file" value="file://$(find vtec_u3_description)/meshes/vtec_u3_spl.stl"/>

  <!-- Vehicle macro -->
  <xacro:macro name="vtec_u3_base" params="namespace *gazebo">

      <!-- Rigid body description of the base link -->
      <link name="${namespace}/base_link">
        <!--
          Be careful to setup the coefficients for the inertial tensor,
          otherwise your model will become unstable on Gazebo
        -->
        <inertial>
          <mass value="${mass}" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <!-- From Pedro's report -->
          <!-- <inertia ixx="0.49770495" ixy="0.00275177" ixz="-0.0574426"
                   iyy="0.37089716" iyz="-0.0036791"
                   izz="0.64879823" /> -->
          <!-- For COM nearly in geometric center -->
            <inertia ixx="0.83639798529" ixy="-0.00503680373" ixz="0.0560001532"
                      iyy="0.46118483068" iyz="-0.01377965358"
                      izz="1.02986207702" />
        </inertial>

        <visual>
          <origin xyz="${geocenter}" rpy="0 0 0"/>
          <geometry>
            <mesh filename="${visual_mesh_file}" scale="0.001 0.001 0.001" />
          </geometry>
        </visual>

        <!-- <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="${collision_mesh_file}" scale="0.001 0.001 0.001" />
          </geometry>
        </collision> -->
      </link>

    <gazebo reference="${namespace}/base_link">
      <selfCollide>0</selfCollide>
      <turnGravityOff>1</turnGravityOff>

      <!-- CUSTOM PLUG-IN -->
      <!-- <plugin name="sixDOFMov" filename="libsixDOFMov.so">
        <commandTopic>/uuv_desired_velocity</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>100.0</odometryRate>
        <robotBaseFrame>${namespace}/base_link</robotBaseFrame>
        <publishTF>false</publishTF>
      </plugin> -->

    </gazebo>

    <!-- Include the sensor modules -->
    <xacro:include filename="$(find vtec_u3_description)/urdf/sensors.xacro"/> 

  </xacro:macro>

</robot>
