<?xml version="1.0"?>
<robot name="torpedoes_2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Incluir el archivo de la macro -->
<xacro:include filename="$(find shooter_description)/urdf/macro_torpedoes.xacro"/>

<xacro:macro_torpedoes id="2">
  <!--<origin xyz="-0.085 0 0" rpy="0.0 0.0 1.5757"/>-->
  <origin xyz="0.10781 0.01961 -2.16659" rpy="0.0 0.0 1.5757"/>
</xacro:macro_torpedoes>

<gazebo>
  <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
    <commandTopic>/Shoot_Torpedo_2</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <odometryRate>20.0</odometryRate>
    <robotBaseFrame>torpedoes_2</robotBaseFrame>
    <publishTF>false</publishTF>
  </plugin>
</gazebo>

</robot> 