<?xml version="1.0"?>
<robot name="gman_target" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="visual_mesh_file" value="file://$(find props_gazebo)/meshes/gman.dae" />
    <!-- <xacro:property name="collision_mesh_file" value="file://$(find props_gazebo)/meshes/gman.dae"/> -->
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.23" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="${visual_mesh_file}" scale="0.3 0.3 0.3"/>      
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0.23" rpy="0 0 0"/>
            <geometry>
                <mesh filename="${visual_mesh_file}" scale="0.3 0.3 0.3"/>      
            </geometry>
        </collision>

        <inertial>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <mass value="10"/>
        <inertia
            ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="1.0" iyz="0.0"
            izz="1.0"/>
        </inertial>
    </link>

    <!-- <gazebo reference="base_link">
        <turnGravityOff>true</turnGravityOff>
        <selfCollide>false</selfCollide>
    </gazebo> -->

</robot>
