<?xml version="1.0"?>
<robot name="bin_2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Introducir meshes -->
<xacro:property name="visual_mesh_file" value="file://$(find sim_challenges)/models/meshes/bin02.dae" />

<!-- <origin xyz="0.085 (0 -0.085) 0 0" rpy="0.0 0.0 1.57075"/> -->

<link name="bin2_base">
    <visual>
        <origin xyz="22.180420 4.643661 -4.0" rpy="0.0 0.0 -1.57"/>
        <geometry>
            <mesh filename="${visual_mesh_file}" scale="1 1 1" />      
        </geometry>
    </visual>

        <!-- Se deben cambiar los parametros reales-->
    <collision>
      <origin xyz="22.180420 4.643661 -4.0" rpy="0.0 0.0 -1.57"/>
      <geometry>
        <mesh filename="${visual_mesh_file}" scale="1 1 1" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="22.180420 4.643661 -4.0" rpy="0.0 0.0 -1.57"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
</link>
<gazebo reference="bin2_base">
  <selfCollide>0</selfCollide>
  <turnGravityOff>1</turnGravityOff>
</gazebo>


</robot> 